@{
	ViewBag.Title = "Forbidden";
}
<ul class="path floatContainer">
	<li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
</ul>
<h1>@ViewBag.Title</h1>
<p>The page you requested is forbidden.</p>
<p>Go to <a href="/">Homepage&gt;&gt;</a></p>