@{
	ViewBag.Title = T("Page not found");
}
<ul class="path floatContainer">
	<li class="first">@Html.ActionLinkLocalized("Forums", "List", "Forums")</li>
</ul>
<h1>@ViewBag.Title</h1>
<p>@T("The page you requested was not found.")</p>