@{
	ViewBag.Title = "Page not found";
}
<ul class="path floatContainer">
	<li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
</ul>
<h1>@ViewBag.Title</h1>
<p>The page you requested was not found.</p>
<p><a href="/">Home &gt;&gt;</a></p>