@{
	ViewBag.Title = "An error occurred while processing your request";
}
<ul class="path floatContainer">
	<li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
</ul>
<h1>An error occurred</h1>
<br />
<p>An error occurred on the server when processing your request.</p>
<p>The error detail was sent to our support team. </p>
<p>Sorry for the inconvenience.</p>
<br />
<p>Go to the <a href="/">homepage</a></p>