<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{-TitleContent-}</title>
    <link href="/content/templates/sample/contents/template.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    {-HeadContent-}
</head>
<body>
    <div id="container">
        <div id="header">
			{-UserMenu-}
			<div id="logo"><a href="/"><img src="/content/templates/sample/contents/logo.gif" alt="my forum" /></a></div>
        </div>
        <div id="content">
            {-MainContent-}
        </div>
        <div id="footer">
			<p>Sample template | Powered by <a href="http://www.nearforums.com">nearforums</a></p>
        </div>
    </div>
</body>
</html>