@{
	var imgUrl = "http://a0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png";
	if (ViewData.Get<string>("size") == "small")
	{
		imgUrl = "http://a0.twimg.com/images/dev/buttons/sign-in-with-twitter-l-sm.png";
	}
}
<a href="@Url.Action("TwitterStartLogin", "Authentication", new{returnUrl = this.Request.Url.PathAndQuery})" rel="nofollow external"><img src="@imgUrl" alt="@T("Login using Twitter")" /></a>