<div class="submenu">
	<ul>
		<li>@Html.ActionLinkLocalized("Appearance settings", "EditUI", null, new { @class = IsAction("EditUI") ? "active" : "" })</li>
		<li>@Html.ActionLinkLocalized("General settings", "EditGeneral", null, new{@class=IsAction("EditGeneral") ? "active" : ""})</li>
		<li>@Html.ActionLinkLocalized("Spam prevention settings", "EditSpamPrevention", null, new { @class = IsAction("EditSpamPrevention") ? "active" : "" })</li>
	</ul>
</div>