@{
	ViewBag.Title = "How to create your own Nearforums template";
}
<ul class="path floatContainer">
	<li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
	<li>@Html.ActionLink("Admin", "Dashboard", "Admin")</li>
	<li>@Html.ActionLink("Templates", "List")</li>
</ul>
<h1>How to create your own Nearforums template</h1>
<p>?You can create a template for your forum website from scratch or exporting an existing </p>

<p>?The easiest way to create a template for your forum website is to Export an existing template...</p>

<p>?To create a custom Nearforums template, follow these instructions:</p>
<ul>
	<li>?Download the sample template</li>
	<li>?MO...</li>
</ul>
<p>Advanced: Render any user control from template</p>
<h2>File format</h2>
<p>Compressed zip file with the following allowed files and folders.</p>
<ul>
	<li><strong>template.html</strong>: html file. The html file must contain the following place holders: {-TitleContent-}, {-HeadContent-}, {-UserMenu-}, {-MainContent-}. Please mantain the footer links to the Nearforums website.</li>
	<li>
		<strong>template-contents</strong>: folder that contains any css, png, jpg or gif files.
		<ul>
			<li>picture1.png</li>
			<li>icon.png</li>
			<li>picture2.jpg</li>
			<li>styles.css</li>
			<li>...etc...</li>
		</ul>
	</li>
</ul>