<?xml version="1.0"?>
<integration>
	<filters>
<!--
		<add type="NearForums.Web.Integration.YourActionFilter, NearForums.Web" controller="Topics" action="Detail" />
		<add type="NearForums.Web.Integration.GlobalActionFilter, NearForums.Web" />
-->
	</filters>
<!--
	<services />
	<subcontrollers />
-->
</integration>
