<?xml version="1.0"?>
<integration>
	<filters>
		<add type="NearForums.Web.Controllers.Filters.CaptchaAttribute, NearForums.Web.Controllers" controller="FormsAuthentication" action="Register" />
<!--
		Configure the action filters to register, for example:

		<add type="NearForums.Web.Integration.YourActionFilter, NearForums.Web" controller="Topics" action="Detail" />
		<add type="NearForums.Web.Integration.GlobalActionFilter, NearForums.Web" />
-->
	</filters>
	<services>
<!--
		Configure the services you want to register, for example:

		<add type="Lucene.Net.Analysis.SimpleAnalyzer, Lucene.Net" as="Lucene.Net.Analysis.Analyzer, Lucene.Net" />
-->
	</services>
</integration>
