<?xml version="1.0"?>
<membership>
	<providers>
		<clear/>
		<add name="AspNetSqlMembershipProvider"
			 type="System.Web.Security.SqlMembershipProvider"
			 connectionStringName="MembershipUsers"
			 enablePasswordRetrieval="false"
			 enablePasswordReset="true"
			 requiresQuestionAndAnswer="false"
			 requiresUniqueEmail="false"
			 passwordFormat="Hashed"
			 maxInvalidPasswordAttempts="30"
			 minRequiredPasswordLength="6"
			 minRequiredNonalphanumericCharacters="0"
			 passwordAttemptWindow="10"
			 passwordStrengthRegularExpression=""
			 applicationName="NearForums"/>
	</providers>
</membership>
