<?xml version="1.0"?>
<membership defaultProvider="MySqlMembershipProvider">
	<providers>
		<clear/>
		<add name="MySqlMembershipProvider"
			 type="MySql.Web.Security.MySQLMembershipProvider"
			 connectionStringName="MembershipUsers"
			 enablePasswordRetrieval="false"
			 enablePasswordReset="true"
			 requiresQuestionAndAnswer="false"
			 requiresUniqueEmail="true"
			 passwordFormat="Hashed"
			 maxInvalidPasswordAttempts="30"
			 minRequiredPasswordLength="6"
			 minRequiredNonalphanumericCharacters="0"
			 passwordAttemptWindow="10"
			 passwordStrengthRegularExpression=""
			 applicationName="NearForums"/>
	</providers>
</membership>