<?xml version="1.0"?>
<routeMapping>
	<routes lowerCaseOnly="false">
		<add url="" controller="Forums" action="List" namespace="NearForums.Web.Controllers"/>
		<add url="p/{name}" controller="PageContents" action="Detail">
			<constraints>
				<add key="name" value="^[\w\-%]+$" />
			</constraints>
		</add>
		<add url="{forum}/{name}-{id}/{page}" controller="Topics" action="Detail">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="name" value="[\w\-%]+?" />
				<add key="id" value="^\d+$" />
				<add key="page" value="^\d+$" />
			</constraints>
			<defaults>
				<add key="page" value="0" />
			</defaults>
		</add>
		<add url="{forum}/{name}-{id}/page-more" controller="Topics" action="PageMore">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="name" value="[\w\-%]+?" />
				<add key="id" value="^\d+$" />
			</constraints>
		</add>
		<add url="{forum}/{name}-{id}/page-until" controller="Topics" action="PageUntil">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="name" value="[\w\-%]+?" />
				<add key="id" value="^\d+$" />
			</constraints>
		</add>
		<add url="login/" controller="Authentication" action="Login" />
		<add url="formsauth/changepasswordsuccess" controller="FormsAuthentication" action="ChangePasswordSuccess" />
		<add url="formsauth/changepassword" controller="FormsAuthentication" action="ChangePassword" />
		<add url="formsauth/newpassword/{guid}" controller="FormsAuthentication" action="NewPassword" />
		<add url="formsauth/register" controller="FormsAuthentication" action="Register" />
		<add url="formsauth/login" controller="FormsAuthentication" action="Login" />
		<add url="formsauth/resetpwd" controller="FormsAuthentication" action="ResetPassword" />
		<add url="login/facebook/" controller="Authentication" action="FacebookStartLogin" />
		<add url="login/facebook/finish" controller="Authentication" action="FacebookFinishLogin" />
		<add url="login/twitter/" controller="Authentication" action="TwitterStartLogin" />
		<add url="login/twitter/finish" controller="Authentication" action="TwitterFinishLogin" />
		<add url="login/ssoopenid/" controller="Authentication" action="OpenIdStartLogin" />
		<add url="login/ssoopenid/finish" controller="Authentication" action="OpenIdFinishLogin" />
		<add url="login/custom" controller="Authentication" action="CustomLogin" />
		<add url="logout" controller="Authentication" action="Logout" />
		<add url="search" controller="SearchEngine" action="Search" />
		<add url="error" controller="Home" action="Error" />
		<add url="captcha" controller="Base" action="Captcha" />
		<add url="users/{id}/" controller="Users" action="Detail">
			<constraints>
				<add key="id" value="^\d+$" />
			</constraints>
		</add>
		<add url="users/{id}/edit" controller="Users" action="Edit">
			<constraints>
				<add key="id" value="^\d+$" />
			</constraints>
		</add>
		<add url="users/{id}/messages" controller="Users" action="MessagesByUser">
			<constraints>
				<add key="id" value="\d+" />
			</constraints>
		</add>
		<add url="users/{uid}/unsubscribe" controller="TopicsSubscriptions" action="Unsubscribe">
			<constraints>
				<add key="uid" value="\d+" />
			</constraints>
		</add>
		<add url="admin/templates/add" controller="Templates" action="Add" />
		<add url="admin/templates/set" controller="Templates" action="SetCurrent" />
		<add url="admin/templates/delete" controller="Templates" action="Delete" />
		<add url="admin/templates/export" controller="Templates" action="Export" />
		<add url="admin/templates/preview" controller="Templates" action="Preview" />
		<add url="admin/templates/add-defaults" controller="Templates" action="AddDefaultTemplates" />
		<add url="admin/templates/" controller="Templates" action="List" />
		<add url="admin/messages/flagged" controller="Messages" action="ListFlagged" />
		<add url="admin/users/{page}" controller="Users" action="List">
			<defaults>
				<add key="page" value="0" />
			</defaults>
			<constraints>
				<add key="page" value="\d+" />
			</constraints>
		</add>
		<add url="admin/users/delete" controller="Users" action="Delete" />
		<add url="admin/users/promote" controller="Users" action="Promote" />
		<add url="admin/users/demote" controller="Users" action="Demote" />
		<add url="users/warn-dismiss" controller="Users" action="WarnDismiss" />
		<add url="users/warn" controller="Users" action="Warn" />
		<add url="users/suspend" controller="Users" action="Suspend" />
		<add url="users/ban" controller="Users" action="Ban" />
		<add url="users/moderator-reason" controller="Users" action="ModeratorReasonDetail" />
		<add url="admin/forums/" controller="Forums" action="Manage" />
		<add url="admin/forums/add" controller="Forums" action="Add" />
		<add url="admin/forums/edit" controller="Forums" action="Edit" />
		<add url="admin/forums/delete" controller="Forums" action="Delete" />
		<add url="admin/unanswered-threads" controller="Forums" action="ListAllUnansweredTopics" />
		<add url="admin/search-index/" controller="SearchEngine" action="Manage" />
		<add url="admin/search-index/reindex-start" controller="SearchEngine" action="ReindexStart" />
		<add url="admin/search-index/batch" controller="SearchEngine" action="IndexBatch" />
		<add url="admin/pages/" controller="PageContents" action="List" />
		<add url="admin/pages/add" controller="PageContents" action="Add" />

		<add url="admin/forumcategories/" controller="ForumCategories" action="List" />
		<add url="admin/forumcategories/add" controller="ForumCategories" action="Add" />
		<add url="admin/forumcategories/edit" controller="ForumCategories" action="Edit" />
		<add url="admin/forumcategories/delete" controller="ForumCategories" action="Delete" />

		<add url="admin/settings/general" controller="Settings" action="EditGeneral" />
		<add url="admin/settings/ui" controller="Settings" action="EditUI" />
		<add url="admin/settings/spam" controller="Settings" action="EditSpamPrevention" />
		<add url="admin/settings/search-toggle" controller="Settings" action="SearchToggle" />
		<add url="p/{name}/edit" controller="PageContents" action="Edit">
			<constraints>
				<add key="name" value="[\w\-%]+" />
			</constraints>
		</add>
		<add url="p/{name}/delete" controller="PageContents" action="Delete">
			<constraints>
				<add key="name" value="[\w\-%]+" />
			</constraints>
		</add>
		<add url="admin/" controller="Admin" action="Dashboard" />
		<add url="rss" controller="Forums" action="LatestAllTopics" />
		<add url="{forum}/unanswered" controller="Forums" action="ListUnansweredTopics">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
			</constraints>
		</add>
		<add url="{forum}/latest/{page}" controller="Forums" action="LatestTopics">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="page" value="\d+" />
			</constraints>
			<defaults>
				<add key="page" value="0" />
				<add key="format" value="Html" />
			</defaults>
		</add>
		<add url="{forum}/most-viewed/{page}" controller="Forums" action="MostViewedTopics">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="page" value="\d+" />
			</constraints>
			<defaults>
				<add key="page" value="0" />
			</defaults>
		</add>
		<add url="{forum}/rss" controller="Forums" action="LatestTopics">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
			</constraints>
			<defaults>
				<add key="page" value="0" />
				<add key="format" value="Rss" />
			</defaults>
		</add>
		<add url="{forum}/create-thread" controller="Topics" action="Add">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
			</constraints>
		</add>
		<add url="{forum}/tags/{tag}/{page}" controller="Forums" action="TagDetail">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="page" value="\d+" />
				<add key="tag" value="[\w\-\.]+" />
			</constraints>
			<defaults>
				<add key="page" value="0" />
			</defaults>
		</add>
		<add url="{forumName}/{name}-{id}/move" controller="Topics" action="Move">
			<constraints>
				<add key="forumName" value="[\w\-%]+" />
				<add key="name" value="[\w\-%]+?" />
				<add key="id" value="\d+" />
			</constraints>
		</add>
		<add url="{forum}/{name}-{id}/close" controller="Topics" action="CloseReplies">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="name" value="[\w\-%]+?" />
				<add key="id" value="\d+" />
			</constraints>
		</add>
		<add url="{forum}/{name}-{id}/delete" controller="Topics" action="Delete">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="name" value="[\w\-%]+?" />
				<add key="id" value="\d+" />
			</constraints>
		</add>
		<add url="{forum}/{name}-{id}/open" controller="Topics" action="OpenReplies">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="name" value="[\w\-%]+?" />
				<add key="id" value="\d+" />
			</constraints>
		</add>
		<add url="{forum}/{name}-{id}/reply" controller="Messages" action="Add">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="name" value="[\w\-%]+?" />
				<add key="id" value="\d+" />
			</constraints>
		</add>
		<add url="{forum}/{name}-{id}/rss" controller="Topics" action="LatestMessages">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="name" value="[\w\-%]+?" />
				<add key="id" value="\d+" />
			</constraints>
		</add>
		<add url="{forum}/{name}-{id}/edit" controller="Topics" action="Edit">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="name" value="[\w\-%]+?" />
				<add key="id" value="\d+" />
			</constraints>
		</add>
		<add url="{forum}/{name}-{id}/delete-message" controller="Messages" action="Delete">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="name" value="[\w\-%]+?" />
				<add key="id" value="\d+" />
			</constraints>
		</add>
		<add url="{forum}/{name}-{id}/flag-message" controller="Messages" action="Flag">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="name" value="[\w\-%]+?" />
				<add key="id" value="\d+" />
			</constraints>
		</add>
		<add url="{forum}/{name}-{id}/clear-flags" controller="Messages" action="ClearFlags">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="name" value="[\w\-%]+?" />
				<add key="id" value="\d+" />
			</constraints>
		</add>
		<add url="{id}" controller="Topics" action="ShortUrl">
			<constraints>
				<add key="id" value="\d+" />
			</constraints>
		</add>
		<add url="{forum}/{page}" controller="Forums" action="Detail">
			<constraints>
				<add key="forum" value="[\w\-%]+" />
				<add key="page" value="^\d+$" />
			</constraints>
			<defaults>
				<add key="page" value="0" />
			</defaults>
		</add>
		<add url="notfound" controller="Home" action="NotFound" />
	</routes>
</routeMapping>