<?xml version="1.0" encoding="utf-8" ?>
<site useSettings="true">
	<authenticationProviders fakeProvider="false">
		<facebook
			apiKey="193764998758" secretKey="6a8514f4093423c306d3302ebfbb43ef" />
		<!-- Now the appId is used for apiKey -->
		<twitter
			apiKey="ig8je4ectajJyo7YwJANw" secretKey="oVlu4Z7CcWoQiAsnj1twSdBqX3D4IQcYY7hdZnWoAU" />
		<formsAuth
			defined="true" timeToExpireResetPasswordLink="48" />
		<!--<ssoOpenid
			identifier="http://login.yoursite.com" enableClaimsRequest="false" />-->
		<!--<customDb
			connectionStringName="YourDb"
			storedProcedure="SP_Nearforums_AuthenticateUser"
			registerUrl="http://yourmainsite.com/register/"
			forgotPasswordUrl="http://yourmainsite.com/forgot-password/"
			allowChangeEmail="false"
			accountEditUrl="http://yourmainsite.com/account/"
			/>-->
	</authenticationProviders>
	<replacements>
		<add pattern="(?&lt;=^|\s|&gt;)(#(\d+))"
			 replacement="&lt;a href=&quot;#msg$2&quot; class=&quot;fastQuote&quot;&gt;[$1]&lt;/a&gt;" />
		<add pattern=":\)"
				 replacement="&lt;img src=&quot;http://mail.google.com/mail/help/images/whatsnew/emoji_smile.gif&quot; alt=&quot;smile&quot; /&gt;" />
	</replacements>
	<notifications>
		<subscription async="true">
			<body>
				<![CDATA[
					<div style="font-family:arial,helvetica;font-size:12px;color:#333333;">
						<h3>Hi <!--!USERNAME!--></h3>
						<p>There is a new post on the thread <a href="<!--!URL!-->"><!--!TITLE!--></a>.</p>
						<p>To see the post go to: <a href="<!--!URL!-->"><!--!URL!--></a>.</p>
						<br />
						<p>
							Best regards,<br />
							nearforums team.
						</p>
						<br />
						<hr />
						<p><em>If you don't want to receive emails from this thread, just click on the following link: <a href="<!--!UNSUBSCRIBEURL!-->"><!--!UNSUBSCRIBEURL!--></a></em></p>
					</div>
				]]>
			</body>
		</subscription>
		<membershipPasswordReset>
			<body>
				<![CDATA[
					<div style="font-family:arial,helvetica;font-size:12px;color:#333333;">
						<h3>Hi <!--!USERNAME!--></h3>
						<p>Follow the following link to reset your password: <a href="<!--!URL!-->"><!--!URL!--></a>.</p>
						<br />
						<p>This link will expire in <!--!TIMETOEXPIRERESETPASSWORDLINK!--> hour(s).</p>
						<br />
						<p>
							Best regards,<br />
							nearforums team.
						</p>
					</div>
				]]>
			</body>
		</membershipPasswordReset>
	</notifications>
</site>