<?xml version="1.0" encoding="utf-8" ?>
<site timeZoneOffset="-5" dateFormat="MMM d ’yy 'at' hh:mm" >
	<forums topicsPerPage="20" tagsCloudCount="30" />
	<topics messagesPerPage="10" />
	<template
		useTemplates="false"
		path="/content/templates/">
		<mobile
			regex="(up.browser|up.link|mmp|symbian|smartphone|midp|wap|phone|windows ce|pda|mobile|mini|palm|ipad|android)" />
	</template>
	<!-- if you use templates, you need to grant write access to asp.net account to the path you specify in this element-->
	<spamPrevention timeToRepost="5">
		<htmlInput
			fixErrors="true"
			allowedElements="b(lockquote)?|code|d(d|t|l|el)|em|h(2|3|4)|i|kbd|li|ol|p(re)?|s(ub|up|trong|trike)?|ul|a|img" />
	</spamPrevention>
	<authorizationProviders fakeProvider="false">
		<!--<facebook
			apiKey="0cbd9e92f46e25941fc93d800ca50f13" secretKey="6a8514f4093423c306d3302ebfbb43ef" />-->
		<twitter
			apiKey="CxdsBh3NtNf98V3bj929bA" secretKey="px83sxrlYVFkhwr0zT9Vb73SQToM4SY2TsxKqH78dE" />
		<ssoOpenid
			identifier="http://login.yoursite.com" />
		<formsAuth
			defined="true"/>
		<!-- typically your main site centralized login url like http://login.yoursite.com. You need to develop a custom openid provider for Single Sign-On in your main site. Check out DotNetOpenAuth samples for more information. -->
	</authorizationProviders>
	<replacements>
		<add pattern="(?&lt;=^|\s|&gt;)(#(\d+))"
			 replacement="&lt;a href=&quot;#msg$2&quot; class=&quot;fastQuote&quot;&gt;[$1]&lt;/a&gt;" />
		<add pattern=":\)"
				 replacement="&lt;img src=&quot;http://mail.google.com/mail/help/images/whatsnew/emoji_smile.gif&quot; alt=&quot;smile&quot; /&gt;" />
	</replacements>
	<notifications>
		<subscription>
			<body>
				<![CDATA[
					<div style="font-family:arial,helvetica;font-size:12px;color:#333333;">
						<h3>Hi <!--!USERNAME!--></h3>
						<p>There is a new post on the thread <a href="<!--!URL!-->"><!--!TITLE!--></a>.</p>
						<p>To see the post go to: <a href="<!--!URL!-->"><!--!URL!--></a>.</p>
						<br />
						<p>
							Best regards,<br />
							nearforums team.
						</p>
						<br />
						<hr />
						<p><em>If you don't want to receive emails from this thread, just click on the following link: <a href="<!--!UNSUBSCRIBEURL!-->"><!--!UNSUBSCRIBEURL!--></a></em></p>
					</div>
				]]>
			</body>
		</subscription>
	</notifications>
</site>