<?xml version="1.0" encoding="utf-8" ?>
<site
	timeZoneOffset="-5"
	cultureName="en-US">
	<ui topicsPerPage="10" 
		tagsCloudCount="30" 
		messagesPerPage="10"
		showUserDetailsOnList="true"
		defaultForumSort="LatestActivity"
		dateFormat="MMM d ’yy 'at' hh:mm">
		<template
			useTemplates="true"
			path="~/content/templates/">
			<mobile
				regex="(up.browser|up.link|mmp|symbian|smartphone|midp|wap|phone|windows ce|pda|mobile|mini|palm|ipad|android)" />
		</template>
		<resources
			jqueryUrl="~/scripts/jquery-1.5.2.min.js"
			/> <!-- can be local paths or external urls (CDNs)-->
	</ui>
	<!-- if you use templates, you need to grant write access to asp.net account to the path you specify in this element-->
	<spamPrevention timeToRepost="5">
		<htmlInput
			fixErrors="true"
			allowedElements="b(lockquote)?|code|d(d|t|l|el)|em|h(2|3|4)|i|kbd|li|ol|p(re)?|s(ub|up|trong|trike)?|ul|a|img" />
	</spamPrevention>
	<authenticationProviders fakeProvider="false">
		<facebook
			apiKey="193764998758" secretKey="6a8514f4093423c306d3302ebfbb43ef" /> <!-- Now the appId is used for apiKey -->
		<twitter
			apiKey="CxdsBh3NtNf98V3bj929bA" secretKey="px83sxrlYVFkhwr0zT9Vb73SQToM4SY2TsxKqH78dE" />
		<!--<ssoOpenid
			identifier="http://login.yoursite.com" />-->
		<formsAuth
			defined="true" timeToExpireResetPasswordLink="48" />
		<!--<custom
			connectionStringName="YourDb"
			storedProcedure="SP_Nearforums_AuthenticateUser"
			registerUrl="http://yourmainsite.com/register/"
			forgotPasswordUrl="http://yourmainsite.com/forgot-password/"
			allowChangeEmail="false"
			accountEditUrl="http://yourmainsite.com/account/"
			/>-->
	</authenticationProviders>
	<replacements>
		<add pattern="(?&lt;=^|\s|&gt;)(#(\d+))"
			 replacement="&lt;a href=&quot;#msg$2&quot; class=&quot;fastQuote&quot;&gt;[$1]&lt;/a&gt;" />
		<add pattern=":\)"
				 replacement="&lt;img src=&quot;http://mail.google.com/mail/help/images/whatsnew/emoji_smile.gif&quot; alt=&quot;smile&quot; /&gt;" />
	</replacements>
	<notifications>
		<subscription>
			<body>
				<![CDATA[
					<div style="font-family:arial,helvetica;font-size:12px;color:#333333;">
						<h3>Hi <!--!USERNAME!--></h3>
						<p>There is a new post on the thread <a href="<!--!URL!-->"><!--!TITLE!--></a>.</p>
						<p>To see the post go to: <a href="<!--!URL!-->"><!--!URL!--></a>.</p>
						<br />
						<p>
							Best regards,<br />
							nearforums team.
						</p>
						<br />
						<hr />
						<p><em>If you don't want to receive emails from this thread, just click on the following link: <a href="<!--!UNSUBSCRIBEURL!-->"><!--!UNSUBSCRIBEURL!--></a></em></p>
					</div>
				]]>
			</body>
		</subscription>
		<membershipPasswordReset>
			<body>
				<![CDATA[
					<div style="font-family:arial,helvetica;font-size:12px;color:#333333;">
						<h3>Hi <!--!USERNAME!--></h3>
						<p>Follow the following link to reset your password: <a href="<!--!URL!-->"><!--!URL!--></a>.</p>
						<br />
						<p>This link will expire in <!--!TIMETOEXPIRERESETPASSWORDLINK!--> hour(s).</p>
						<br />
						<p>
							Best regards,<br />
							nearforums team.
						</p>
					</div>
				]]>
			</body>
		</membershipPasswordReset>
	</notifications>
</site>