/*
	This css contains all base styles for classes and id used in nearforums content
*/
ul.items
{
	margin: 0 0 10px 0;
	padding: 5px 0 5px 0;
}
ul.items li
{
	list-style-type: none;
	background-image: url(arrow-right.gif);
	background-position: 2px 8px;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0px 0px 4px 15px;
}
ul.items li.sticky a.itemTitle
{
	padding-right: 20px;
	background-image: url(icon-sticky.png);
	background-position: right center;
	background-repeat: no-repeat;
}
ul.items div, ul.items h3
{
	display: inline;
}
ul.items h3.name
{
	padding-right: 15px;
}
ul.items h3.name span
{
	display: none;
}
ul.items .lastPost
{
	padding-left: 10px;
}
ul.items .lastPost, ul.items .lastPost a
{
	color: #666666;
	font-weight: normal;
}
ul.items .lastPost .nomsg
{
	display: none;
}
ul.items p.description
{
	padding-top: 4px;
}
ul.itemsHeader
{
	display: none;
}
div.forumList ul.items p
{
	font-size: 14px;
	color: #696969;
}
ul.path
{
	list-style-type: none;
	margin: 0;
	height: 20px;
}
ul.path li
{
	float: left;
	padding-left: 8px;
}
ul.path li.first
{
	float: left;
	padding-left: 0;
}
ul.path a
{
	text-decoration: none;
	display: block;
	padding-right: 10px;
	background-image: url(arrow-right.gif);
	background-repeat: no-repeat;
	background-position: right center;
}
/*begin float clearing hack*/
.floatContainer:after{
content: "."; 
display: block; 
height: 0; 
font-size:0;	
clear: both; 
visibility:hidden;
}
.floatContainer{display: inline-block;} 

/* Hides from IE Mac \*/
* html .floatContainer {height: 1%;}
   .floatContainer{display:block;}
/* End Hack */ 
/*end float clearing hack*/
div.overTip 
{
	background-color:#FFFFFF;
	border-color:#AAAAAA;
	border-style:solid;
	border-width:1px 2px 2px 1px;
	color:#333333;
	padding:5px;
	position:absolute;
	width:300px;
	z-index:10;
}
div.overTip div.msgOptions
{
	display: none;
}
div.overTip div.msgHeader
{
	font-weight: bold;
}
div.overTip span.dateSep, div.overTip span.date, div.overTip div.msgUser
{
	display: none;
}
div.overTip div.msgBody
{
	padding: 5px 10px;
}
div.pager
{
	margin-top:20px;
	height: 30px;
	font-size: 11px;
}
div.pager a, div.pager span, div.pager a
{
	display: block;
	float: left;
	margin-right: 3px;
	padding: 3px 6px 3px 6px;
	border-bottom:3px solid #5A93D2;
	text-decoration:none;
}
div.pager span
{
	border-bottom:3px solid #EEEEEE;
	color: #666666;
}
div.pager a:hover
{
	background-color: #5A93D2;
	color: #FFFFFF;
}
div.tagCloud
{
	width: 500px;
}
div.tagCloud ul
{
	list-style-type: none;
	padding: 10px 0 10px 0;
	margin: 0;
}
div.tagCloud li
{
	padding: 0 10px 10px 0;
	height: 30px;
	float: left;
}
div.tagCloud li a
{
	text-decoration: none;
	font-weight: normal;
}
div.tagCloud li a:hover
{
	text-decoration: underline;
}
div.tagCloud li.weight1
{
	font-size: 14px;
}
div.tagCloud li.weight2
{
	font-size: 16px;
}
div.tagCloud li.weight3
{
	font-size: 18px;
}
div.tagCloud li.weight4
{
	font-size: 20px;
}
div.tagCloud li.weight5
{
	font-size: 24px;
}
div.forumList h1
{
	border-bottom: none;
}
div.options
{
	font-weight: 14px;
	float:right;
	position:relative;
	top:-38px;
}
div.options a
{
	font-weight: normal;
	text-decoration: none;
	color: #666666;
}
div.options a.selected
{
	font-weight: bold;
	color: #0372A0;
}
div.options img
{
	vertical-align: top;
}
div.options span
{
	padding: 0 5px 0 5px;
}
div.forumDetail h2
{
	padding-top: 40px;
}
div.topicDetail .info
{
	font-size: 16px;
	position: relative;
	top: -17px;
}
div.topicDetail .info a
{
	text-decoration: none;
}
div.topicDetail .description
{
	padding-left: 10px;
}
ul#messages
{
	margin: 0;
	list-style-type: none;
}
ul#messages li
{
	margin-bottom: 2px;
	padding: 0 10px 10px 5px;
	overflow: hidden;
}
ul#messages div.msgBody
{
	padding: 10px 0 0 8px;
}
ul#messages div.msgBody p.removed
{
	font-style: italic;
}
ul#messages div.msgHeader
{
	font-size: 16px;
	color: #666666;
}
ul#messages div.msgHeader a
{
	text-decoration: none;
}
ul#messages div.msgHeader a.msgId
{
	font-size: 22px;
	font-weight: normal;
}
div.msgUser
{
	float: right;
	padding: 5px 0 5px 10px;
	margin-left: 10px;
	text-align: center;
	border-left: 1px solid #666666;
	width: 140px;
}
div.msgUser .nophoto, div.msgUser .photo
{
	float: left;
	padding-right: 10px;
}
div.msgUser .nophoto span
{
	display: block;
	width: 48px;
	height: 48px;
	background-color: #E0E0E0;
}
div.msgUser .photo img
{
	width: 48px;
}
div.msgUser a
{
	text-decoration: none;
}
ul div.msgOptions
{
	text-align: right;
	visibility: hidden;
	position: relative;
	top: 2px;
	line-height: 11px;
	clear: both;
}
ul div.msgOptions a
{
	text-decoration: none;
	font-weight: normal;
	border-left: solid 1px #666666;
	padding-left: 3px;
}
ul div.msgOptions a:hover
{
	text-decoration: underline;
}
ul div.msgOptions a.first
{
	border: none;
}
li.over
{
	background-color: #F0F0F0;
}
li.over div.msgOptions
{
	visibility: visible;
}
div.toolbar
{
	margin: 20px 0 30px 0;
	border-top: dotted 1px #BBBBBB;
	border-bottom: dotted 1px #BBBBBB;
}
div.toolbar ul
{
	list-style-type: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
div.toolbar li
{
	float: left;
	margin-right: 35px;
}
div.toolbar li a
{
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 0 5px 25px;
	background-repeat: no-repeat;
	background-position: left center;
	color: #444444;
}
div.toolbar ul li a:hover
{
	text-decoration: underline;
}
div.toolbar li.reply a
{
	padding-left: 25px;
	background-image: url(icon-reply.gif);
}
div.toolbar li.showAll
{
	display: none;
}
div.toolbar li.showAll a
{
	padding-left: 17px;
	background-image: url(icon-show-all.gif);
}
div.toolbar li.print a
{
	padding-left: 27px;
	background-image: url(icon-print.gif);
}
div.toolbar li.edit a
{
	padding-left: 25px;
	background-image: url(icon-edit.gif);
}
div.toolbar li.manage a
{
	padding-left: 25px;
	background-image: url(icon-manage.gif);
}
div.toolbar li.move a
{
	padding-left: 20px;
	background-image: url(icon-move.gif);
}
div.toolbar li.delete a
{
	padding-left: 22px;
	background-image: url(icon-delete.gif);
}
div.toolbar li.close a
{
	padding-left: 22px;
	background-image: url(icon-close.gif);
}
div.toolbar li.open a
{
	padding-left: 20px;
	background-image: url(icon-open.gif);
}
#pagerClient
{
	background: #DCECF4 url(next-big.gif) no-repeat scroll 98% 50%;
	border-top: 1px solid #00418F;
}
#pagerClient img
{
	visibility: hidden;
	padding-right: 10px;
}
#pagerClient a
{
	font-size: 14px;
	line-height: 20px;
	padding: 15px 15px 15px 15px;
	display: block;
	text-align: center;
	text-decoration: none;
	background: transparent url(next-big.gif) no-repeat scroll 2% 50%;
}
#pagerClient.loading img
{
	visibility: visible;
}
div.pagerSummary
{
	font-size: 13px;
	font-style: italic;
	padding-top: 20px;
}
p.action
{
	padding: 40px 0 0 0;
	font-size: 14px;
}
ul.validation-summary-errors
{
	color:#DD3333;
	font-weight:bold;
	padding:10px 0 20px 30px;
}
p.error
{
	color:#DD3333;
	font-weight:bold;
	padding:10px 0;
}
form legend
{
	padding: 0 0 10px 0;
	font-size: 13px;
	line-height: 15px;
	font-style: italic;
}
form div.formItem
{
	font-size: 13px;
	padding:3px 0;
}
form div.formItem label
{
	font-weight: bold;
	float: left;
	width: 150px;
	padding:5px 0;
	color:#555555;
}
form div.formItem span.note
{
	font-weight: normal;
	float: left;
	width: 150px;
	padding:5px 10px;
	font-style: italic;
	color: #666666;
}
form div.textarea label
{
	float: none;
	display: block;
}
form div.textarea span input
{
	display: none;
}
form div.formItem select
{
	width: 160px;
	float: left;
	margin-top:3px;
	border: solid 1px #A3A3A5;
}
form div.formItem input
{
	border:1px solid #A3A3A5;
	width:150px;
	padding: 4px;
	float:left;
}
form div.buttons
{
	padding: 20px 0;
}
form div.buttons input
{
	width: auto;
	padding:4px 8px;
}
form div.checkbox input, form div.checkbox label
{
	float:none;
	width:auto;
	padding-right: 20px;
	border: none;
}
p.highlight
{
	font-weight: bold;
	font-size: 14px;
}
p.warning
{
	font-size: 14px;
	font-style: italic;
	padding-top: 20px;
}
#login h2
{
	border: none;
}
#login p.button
{
	padding: 10px 0 0 20px;
}
#login div.connectMessage
{
	padding: 10px 0 0 20px;
	font-style: italic;
}
#login div.membership
{
	float: left;
	width: 40%;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-right: 20px;
	border-right: 1px solid #DDDDDD;
}
#login div.facebook, #login div.twitter
{
	padding-bottom: 20px;
	width: 55%;
	float: left;
}
#login div.ssoOpenId
{
	float: left;
	width: 100%;
}
div.forumDetail h1
{
	padding-right: 375px;
	font-size: 24px;
}
input.button
{
	border:1px solid #A3A3A5;
	width: auto;
	padding:4px 8px;
}
form div.checkbox input.notifyEmail
{
	border:1px solid #A3A3A5;
}
form div.aligned
{
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 150px;
}
div.captcha img
{
	padding-left: 10px;
}
#listFlagged ul li
{
	padding: 5px 5px 7px 5px;
}
ul.admin
{
	list-style-type: none;
	margin: 15px 0 15px 0;
}
ul.admin li
{
	line-height: 20px;
	padding: 0 0 10px 0;
}
.admin span.actions
{
	float: left;
	padding: 0 10px 0 0;
}
.admin span.actions a
{
	text-decoration: none;
	font-weight: normal;
	float: left;
	padding: 0 5px;
	background-color: #F0F0F0;
	margin-right: 2px;
	border: 1px solid #0372A0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	line-height: 24px;
}
.admin span.actions a:hover
{
	border: 1px solid #000000;
	color: #333333;
}
/*tinymce editor*/
body#tinymce p {
    line-height: 15px;
    margin-bottom: 8px;
    margin-top: 0;
}
body#tinymce
{
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
ul.templateList
{
	margin: 20px 0;
	padding: 0;	
	list-style-type: none;
	border-left: 1px solid #dddddd;
}
ul.templateList li
{
	width: 255px;
	height: 280px;
	padding: 20px;
	float: left;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	overflow: auto;
}
ul.templateList li.first
{
	border-left: none;
}
ul.templateList img
{
	border: 1px solid #dddddd;
}
div.templates .noItems
{
	padding: 20px;
	font-size: 14px;
	line-height: 18px;
}
ul.results
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.results li
{
	padding: 0 0 15px 0;
	margin: 0;
}
ul.results a
{
	font-weight: normal;
}
ul.results .date
{
	color: #888888;
}
.resultsInfo
{
	color: #999999;
	font-weight: bold;
	position: relative;
	top: -10px;
}

.formItem .photo
{
	float: left;
	margin-right: 10px;
	background-color: #E0E0E0;
	display: block;
	width: 48px;
	height: 48px;
}
.formItem .photo img
{
	width: 48px;
	border: 1px solid #A3A3A5;
}
input.button, .buttons input
{
	cursor: pointer;
}
input.button:hover
{
	border: 1px solid #333333;
}
form div.formItem span.largeNote
{
	font-weight: normal;
	float: left;
	width: 300px;
	padding: 5px 10px;
	font-style: italic;
	color: #666666;
}
.settingForm h2
{
	padding-top: 10px;
}
.userDetail .moderated
{
	color: #ffffff;
	padding: 7px;
	margin: 10px 0;
	background-color: #CD3C10;
	border-radius: 3px;
}
.toolbar .moderate a
{
	background-image: url(icon-moderate.png);
    padding-left: 27px;
}