/*
	This css contains all base styles for elements and structure of the layout of nearforums site.
*/
body
{
	background-color: #5676A1;
	color: #333333;
	margin: 0 0 0 0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-repeat: repeat-x;
}
img
{
	border: 0;
	vertical-align: middle;
}
table
{
	border: none;
	padding: 20px 0 20px 0;
}
table td
{
	padding: 2px 10px 2px 2px;
}
table th
{
	padding: 4px 10px 4px 0px;
	font-size: 1.1em;
	text-align: left;
	border-bottom: solid 1px #666666;
}
p
{
	margin-top: 0px;
	margin-bottom: 8px;
	line-height: 15px;
}
ul
{
	margin: 0 0 10px 15px;
	padding: 5px 0 5px 0;
}
li
{
	margin: 0;
	padding: 0 0 4px 0;
}
a
{
	font-weight: bold;
	color: #0372A0;
	text-decoration: underline;
}
h1
{
	font-family: georgia,serif;
	font-size: 28px;
	font-weight: normal;
	color: #333333;
	margin: 0px 0px 20px 0px;
	padding: 0px;
	border-bottom: 1px solid #666666;
}
h2
{
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 0;
	border-bottom: solid 1px #666666;
	color: #222222;
}
h3
{
	font-size: 16px;
	font-weight: bold;
	margin: 3px 0px 0px 0px;
}
h4
{
	font-size: 14px;
	font-weight: bold;
	margin: 4px 0px 12px 13px;
}
form
{
	margin: 0px 0px 0px 0px;
}
textarea
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border: solid 1px #A3A3A5;
	width: 300px;
	height: 100px;
	overflow: auto;
	padding: 4px;
}
input
{
	vertical-align: middle;
	font-family: Arial;
	margin: 0px;
	padding: 2px;
}
select
{
	vertical-align: middle; 
	font-size: 13px;
}
fieldset
{
	border: none;
	padding: 0px 10px 10px 10px;
	
}
abbr
{
	text-decoration: none;
	border-bottom: none;
}
strong a
{
	font-weight: bold;
}
#container
{
	width: 950px;
	overflow: hidden;
	margin: 0 auto 0 auto;
}
#header
{
	height: 117px;
	padding: 0 0 0 0;
	margin-bottom: 10px;
	background-color: #ffffff;
	border-radius: 0 0 5px 5px;
}
#footer
{
	background-color: #EBEBEB;
	padding: 10px 10px 2px 10px;
}
#footer p
{
	text-align: center;
}
#footer a
{
	text-decoration: none;
	color: #111111;
}
#footer a:hover
{
	text-decoration: underline;
}
#logo
{
	padding: 20px;
}
#content
{
	background-repeat: no-repeat;
	background-color: #ffffff;
	padding: 17px 25px 50px 25px;
	border-radius: 5px 5px 0 0;
}
#userMenu
{
	float: right;
	background-color: #ffffff;
	list-style-type: none;
	padding: 8px 10px 6px 0;
	margin: 0;
	font-size: 13px;
	height:16px;
	overflow: hidden;
}
#userMenu li
{
	float: left;
	padding: 0 0 0 10px;
	margin: 0 0 0 10px;
	border-left: solid 1px #cccccc;
}
#userMenu li.toContent
{
	border: none;
	margin: 0;
}
#userMenu li a
{
	text-decoration: none;
	color: #444444;
}
#userMenu a img
{
	position: relative;
	top: -3px;
}
#userMenu li a:hover
{
	text-decoration: underline;
}
ul#messages li
{
	background-color: #F1F4F7;
    margin-bottom: 5px;
    padding: 0 10px 0 5px;
}
#messages li div.msgUser
{
	border-right: 1px solid #DDDDDD;
	border-left: medium none;
	float: left;
	margin-right: 10px;
	padding: 5px 10px 5px 0;
	text-align: center;
	font-size: 10px;
}
ul#messages div.msgBody 
{
    padding-bottom: 20px;
}
ul#messages li.over
{
	background-color: #E1E4E7;
}
#messages li.over div.msgUser
{
	border-right: 1px solid #666666;
}
ul#messages div.msgOptions
{
	top: -15px;
}
ul#messages div.msgOptions a 
{
    border: 1px solid #666666;
    font-weight: normal;
    padding: 4px;
    text-decoration: none;
	background-color: #0372A0;
	color: #ffffff;
	border-radius: 2px;
	margin-left: 5px;
}
ul#messages div.msgOptions a:hover
{
	background-color: #026270;
}
ul#messages div.msgHeader
{
	font-size: 11px;
}
ul#messages div.msgHeader a.msgId
{
	font-size: 14px;
}
ul#messages div.msgHeader 
{
	padding-top: 5px;
}
ul.items li .name a.itemTitle
{
	font-weight: bold;
	text-decoration: none;
	display: block;
	color: #0372A0; /*@color-listlink*/
}
ul.items li .name a.itemTitle:hover
{
	text-decoration: underline;
	color: #0372A0;
}
ul.items li .name span
{
	display: inline;
	font-weight: normal;
	font-size: 12px;
	color: #666666;
}
ul.items li .name span a
{
	text-decoration: none;
}
ul.items li.sticky a.itemTitle {
    background-position: left center;
    padding-left: 20px;
}
#searchBox
{
	float: right;
	clear: both;
	padding: 50px 10px 7px 10px;
	height: 30px;
	margin: 0;
}
#searchBox input.text
{
	padding: 4px;
	overflow: hidden;
	line-height: 18px;
	height: 18px;
	border: 1px solid #BBBBBB;
}
#searchBox input.button
{
	padding: 4px;
	line-height: 18px;
	margin: 0;
	border: 1px solid #999999;
}
#searchBox input.button:hover, #searchBox input.button:focus
{
	border: 1px solid #FFFFFF;
}
.submenu
{
	overflow: visible;
	margin: 10px 0;
	border-bottom: 1px solid #C0C0C0;
	height: 27px;
}
.submenu ul
{
	float: left;
	list-style-type: none;
	margin: 0 0 -1px 0;
	padding: 0;
}
.submenu li
{
	background-color: #F9F9F9;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-radius: 5px 5px 0 0;
	margin: 0 0 0 5px;
	padding: 0;
	float: left;
}
.submenu li a
{
	float: left;
	padding: 7px 10px 0 10px;
	text-decoration: none;
	border-radius: 5px 5px 0 0;
	margin: 0 0 -1px 0;
	height: 20px;
}
.submenu a.active
{
	color: #333333;
	background-color: #FFFFFF;
}
#accountWarning
{
	position: absolute;
	top: 0;
	padding: 8px 10px;
	width: 930px;
	text-align: center;
	background-color: #FDE910;
	line-height: 18px;
}
#accountWarning .buttons
{
	float: right;
}
#accountWarning a
{
	padding-left: 10px;
}
