@model Forum
@{
	ViewBag.Title = T("{0} - Unanswered threads", Model.Name);
}	
<div class="forumDetail">
	<ul class="path floatContainer">
		<li class="first">@Html.ActionLinkLocalized("Forums", "List", "Forums")</li>
	</ul>
	<h1>@ViewBag.Title</h1>
	@Html.Partial("ForumOptions")
	@if (this.Model.Topics.Count > 0)
	{
		Html.RenderPartial("ForumTopicList", this.Model.Topics);
	}
	else
	{
		<p class="warning">@T("No unanswered threads for this forum.")</p>
	}
</div>