<?xml version="1.0" encoding="utf-8" ?>
<redirector ignoreRegex=".*(\.css|\.txt|\.js|\.gif|\.jpg|\.png)">
	<urlGroups>
		<add regex="/users/(\d+)$">
			<urls>
				<add regex="/users/(\d+)$" replacement="/users/$1/" />
			</urls>
		</add>
		<!--
________SEE MORE WORKING at http://www.codeproject.com/KB/aspnet/redirector.aspx_____________________________________
		<add regex="^http://www.contoso.com.*">
			<urls>
				<add regex="^http://www.contoso.com(.*)$" replacement="http://contoso.com$1" />
			</urls>
		</add>
		<add regex="/news-items/.+">
			<urls>
				<add regex="/news-items/index.html" replacement="/news-items/" />
				<add regex="/news-items/article(\d+).html" replacement="/news-items/interesting-article$1.aspx" />
			</urls>
		</add>
		<add regex="/press-releases.*">
			<urls>
				<add regex="/press-releases(.*)" replacement="/press$1" />
			</urls>
		</add>
		-->
	</urlGroups>
</redirector>