<?xml version="1.0" encoding="utf-8" ?>
<site timeZoneOffset="-5" dateFormat="D">
	<dataAccess parameterPrefix="@"/>
	<forums topicsPerPage="20" tagsCloudCount="30" />
	<topics messagesPerPage="10" />
	<template useTemplates="false" path="/norights/" />
	<facebook apiKey="0cbd9e92f46e25941fc93d800ca50f13" secretKey="6a8514f4093423c306d3302ebfbb43ef" />
	<replacements>
		<add pattern="&lt;!--.+?--&gt;" replacement="" multiline="true" />
		<add pattern="(&lt;style.+?&lt;/style&gt;)|(&lt;script.+?&lt;/script&gt;)"
			 replacement="" multiline="true" ignoreCase="true" />
		<add pattern="&lt;/?(param|(no)?script|object|i?frame|body|style|font|head|link|title|h1|h2)[^&gt;]*?&gt;"
			 replacement="" multiline="true" ignoreCase="true" />
		<add pattern=" ?style=\&quot;?&apos;?[^&apos;\&quot;&gt;]*\&quot;?&apos;?"
			 replacement="" multiline="true" ignoreCase="true" />
		<add pattern="(?&lt;!&amp;)(#(\d+))"
			 replacement="&lt;a href=&quot;#msg$2&quot; class=&quot;fastQuote&quot;&gt;$1&lt;/a&gt;" />
		<add pattern="(?&lt;!&quot;\s*)(\bhttp://[a-z-]{2,5}\.youtube\.com/watch\?[^\s]*?v=([^\s&amp;&lt;&gt;]+)[^\s&lt;&gt;]*)"
			 replacement="&lt;object width=&quot;640&quot; height=&quot;505&quot;&gt;&lt;param name=&quot;movie&quot; value=&quot;http://www.youtube.com/v/$2&amp;fs=1&amp;rel=0&amp;color1=0x006699&amp;color2=0x54abd6&quot;&gt;&lt;/param&gt;&lt;param name=&quot;allowFullScreen&quot; value=&quot;true&quot;&gt;&lt;/param&gt;&lt;param name=&quot;allowscriptaccess&quot; value=&quot;always&quot;&gt;&lt;/param&gt;&lt;embed src=&quot;http://www.youtube.com/v/$2&amp;fs=1&amp;rel=0&amp;color1=0x006699&amp;color2=0x54abd6&quot; type=&quot;application/x-shockwave-flash&quot; allowscriptaccess=&quot;always&quot; allowfullscreen=&quot;true&quot; width=&quot;640&quot; height=&quot;505&quot;&gt;&lt;/embed&gt;&lt;/object&gt;" ignoreCase="true" />
	</replacements>
</site>