<?xml version="1.0" encoding="utf-8" ?>
<site timeZoneOffset="-5" dateFormat="F">
	<dataAccess parameterPrefix="@"/>
	<forums topicsPerPage="20" tagsCloudCount="30" />
	<topics messagesPerPage="10" />
	<template path="/content/templates/" master="Site" />
	<facebook apiKey="0cbd9e92f46e25941fc93d800ca50f13" secretKey="6a8514f4093423c306d3302ebfbb43ef" />
	<replacements>
		<add pattern="&lt;!--.+?--&gt;" replacement="" multiline="true" />
		<add pattern="(&lt;style.+?&lt;/style&gt;)|(&lt;script.+?&lt;/script&gt;)"
			 replacement="" multiline="true" ignoreCase="true" />
		<add pattern="&lt;/?(param|(no)?script|object|i?frame|body|style|font|head|link|title|h1|h2)[^&gt;]*?&gt;"
			 replacement="" multiline="true" ignoreCase="true" />
		<add pattern=" ?style=\&quot;?&apos;?[^&apos;\&quot;&gt;]*\&quot;?&apos;?"
			 replacement="" multiline="true" ignoreCase="true" />
		<add pattern="(?&lt;!&amp;)(#(\d))"
			 replacement="&lt;a href=&quot;#msg$2&quot; class=&quot;fastQuote&quot;&gt;$1&lt;/a&gt;" />
	</replacements>
</site>