<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
	<configSections>
		<section name="routeMapping" type="NearForums.Configuration.RouteMappingConfiguration, NearForums" />
	</configSections>
	<appSettings>
		<add key="FakeApplicationRoot" value="..\..\..\NearForums.Web.UI\"/>
		<!--<add key="Proxy" value="proxy|3128|aa-jbg|aa-jbg1|spain"/>-->
	</appSettings>

	<connectionStrings>
		<add name="Forums" connectionString="Data Source=localhost;Initial Catalog=Forums;User ID=sa;Password=12345678" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<routeMapping>
		<routes>
			<add url="" controller="Home" action="Index" />
			<add url="category/{category}/{page}" controller="Categories" action="Detail">
				<defaults>
					<add key="page" value="0" />
				</defaults>
				<constraints>
					<add key="page" value="\d+" />
				</constraints>
			</add>
		</routes>
	</routeMapping>
</configuration>
