<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <section name="routeMapping" type="NearForums.Configuration.Routing.RouteMappingConfiguration, NearForums" />
    <section name="site" type="NearForums.Configuration.SiteConfiguration, NearForums" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="FakeApplicationRoot" value="..\..\..\NearForums.Web.Output\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="admin@yoursite.com">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\Temp\" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <clear />
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MembershipUsers" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="30" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="NearForums" />
        <!--
				<add name="MySqlMembershipProvider"
					 type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.3.6.0, Culture=neutral"
					 connectionStringName="MembershipUsers"
					 enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="30" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="NearForums"/>
				-->
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="Forums" connectionString="Data Source=localhost;Initial Catalog=Forums;User ID=sa;Password=12345678" providerName="System.Data.SqlClient" />
    <add name="MembershipUsers" connectionString="Data Source=localhost;Initial Catalog=MembershipUsers;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ForumsMSSQL" connectionString="Data Source=localhost;Initial Catalog=Forums;User ID=sa;Password=12345678" providerName="System.Data.SqlClient" />
    <add name="ForumsMySql" connectionString="Server=localhost;Database=forums;Uid=user;Pwd=12345678;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <site timeZoneOffset="-5" contentPath="~/content/">
    <ui topicsPerPage="5" tagsCloudCount="30" messagesPerPage="10" showUserDetailsOnList="true" defaultForumSort="MostViewedTopics" dateFormat="MMM d ’yy 'at' hh:mm">
      <template useTemplates="true">
        <mobile regex="(up.browser|up.link|mmp|symbian|smartphone|midp|wap|phone|windows ce|pda|mobile|mini|palm|ipad|android)" />
      </template>
      <resources jqueryUrl="~/scripts/jquery-1.5.2.min.js" />
      <!-- can be local paths or external urls (CDNs)-->
    </ui>
    <!-- if you use templates, you need to grant write access to asp.net account to the path you specify in this element-->
    <spamPrevention timeToRepost="5">
      <htmlInput fixErrors="true" allowedElements="b(lockquote)?|code|d(d|t|l|el)|em|h(2|3|4)|i|kbd|li|ol|p(re)?|s(ub|up|trong|trike)?|ul|a|img" />
    </spamPrevention>
    <authenticationProviders fakeProvider="false">
      <facebook apiKey="193764998758" secretKey="6a8514f4093423c306d3302ebfbb43ef" />
      <!-- Now the appId is used for apiKey -->
      <twitter apiKey="CxdsBh3NtNf98V3bj929bA" secretKey="px83sxrlYVFkhwr0zT9Vb73SQToM4SY2TsxKqH78dE" />
      <!--<ssoOpenid
			identifier="http://login.yoursite.com" />-->
      <formsAuth defined="true" />
      <customDb connectionStringName="YourDb" storedProcedure="SP_Nearforums_AuthenticateUser" registerUrl="http://yourmainsite.com/register/" forgotPasswordUrl="http://yourmainsite.com/forgot-password/" allowChangeEmail="false" accountEditUrl="http://yourmainsite.com/account/" />
    </authenticationProviders>
    <replacements>
      <add pattern="(?&lt;=^|\s|&gt;)(#(\d+))" replacement="&lt;a href=&quot;#msg$2&quot; class=&quot;fastQuote&quot;&gt;[$1]&lt;/a&gt;" />
      <add pattern=":\)" replacement="&lt;img src=&quot;http://mail.google.com/mail/help/images/whatsnew/emoji_smile.gif&quot; alt=&quot;smile&quot; /&gt;" />
    </replacements>
    <notifications>
      <subscription>
        <body><![CDATA[
					<div style="font-family:arial,helvetica;font-size:12px;color:#333333;">
						<h3>Hi <!--!USERNAME!--></h3>
						<p>There is a new post on the thread <a href="<!--!URL!-->"><!--!TITLE!--></a>.</p>
						<p>To see the post go to: <a href="<!--!URL!-->"><!--!URL!--></a>.</p>
						<br />
						<p>
							Best regards,<br />
							nearforums team.
						</p>
						<br />
						<hr />
						<p><em>If you don't want to receive emails from this thread, just click on the following link: <a href="<!--!UNSUBSCRIBEURL!-->"><!--!UNSUBSCRIBEURL!--></a></em></p>
					</div>
				]]></body>
      </subscription>
      <membershipPasswordReset>
        <body><![CDATA[
					<div style="font-family:arial,helvetica;font-size:12px;color:#333333;">
						<h3>Hi <!--!USERNAME!--></h3>
						<p>Follow the following link to reset your password: <a href="<!--!URL!-->"><!--!URL!--></a>.</p>
						<br />
						<p>This link will expire in 48 hours.</p>
						<br />
						<p>
							Best regards,<br />
							nearforums team.
						</p>
					</div>
				]]></body>
      </membershipPasswordReset>
    </notifications>
  </site>
  <routeMapping>
    <routes lowerCaseOnly="true">
      <add url="" controller="Forums" action="List" namespace="NearForums.Web.Controllers" />
      <add url="login/" controller="Authentication" action="Login" />
      <add url="p/{name}" controller="PageContents" action="Detail">
        <constraints>
          <add key="name" value="[\w-]{1,128}" />
        </constraints>
      </add>
      <add url="{forum}/unanswered" controller="Forums" action="ListUnansweredTopics">
        <constraints>
          <add key="forum" value="[\w-]{1,32}" />
        </constraints>
      </add>
      <add url="{forum}/latest/{page}" controller="Forums" action="LatestTopics">
        <constraints>
          <add key="forum" value="[\w-]{1,32}" />
          <add key="page" value="\d+" />
        </constraints>
        <defaults>
          <add key="page" value="0" />
          <add key="format" value="Html" />
        </defaults>
      </add>
      <add url="{forum}/rss" controller="Forums" action="LatestTopics">
        <constraints>
          <add key="forum" value="[\w-]{1,32}" />
        </constraints>
        <defaults>
          <add key="page" value="0" />
          <add key="format" value="Rss" />
        </defaults>
      </add>
      <add url="{forum}/tags/{tag}/{page}" controller="Forums" action="TagDetail">
        <constraints>
          <add key="forum" value="[\w-]{1,32}" />
          <add key="page" value="\d+" />
          <add key="tag" value="[\w-]+?" />
        </constraints>
        <defaults>
          <add key="page" value="0" />
        </defaults>
      </add>
      <add url="{forumName}/{name}-{id}/move" controller="Topics" action="Move">
        <constraints>
          <add key="forumName" value="[\w\-]{1,32}" />
          <add key="name" value="[\w-]+?" />
          <add key="id" value="\d+" />
        </constraints>
      </add>
      <add url="{forum}/{name}-{id}/close" controller="Topics" action="CloseReplies">
        <constraints>
          <add key="forum" value="[\w\-]{1,32}" />
          <add key="name" value="[\w-]+?" />
          <add key="id" value="\d+" />
        </constraints>
      </add>
      <add url="{forum}/{name}-{id}/delete" controller="Topics" action="Delete">
        <constraints>
          <add key="forum" value="[\w\-]{1,32}" />
          <add key="name" value="[\w-]+?" />
          <add key="id" value="\d+" />
        </constraints>
      </add>
      <add url="{forum}/{name}-{id}/open" controller="Topics" action="OpenReplies">
        <constraints>
          <add key="forum" value="[\w\-]{1,32}" />
          <add key="name" value="[\w-]+?" />
          <add key="id" value="\d+" />
        </constraints>
      </add>
      <add url="{forum}/{name}-{id}/reply" controller="Messages" action="Add">
        <constraints>
          <add key="forum" value="[\w\-]{1,32}" />
          <add key="name" value="[\w-]+?" />
          <add key="id" value="\d+" />
        </constraints>
      </add>
      <add url="{forum}/{name}-{id}/rss" controller="Topics" action="LatestMessages">
        <constraints>
          <add key="forum" value="[\w\-]{1,32}" />
          <add key="name" value="[\w-]+?" />
          <add key="id" value="\d+" />
        </constraints>
      </add>
      <add url="{forum}/{name}-{id}/edit" controller="Topics" action="Edit">
        <constraints>
          <add key="forum" value="[\w\-]{1,32}" />
          <add key="name" value="[\w-]+?" />
          <add key="id" value="\d+" />
        </constraints>
      </add>
      <add url="{forum}/{name}-{id}/delete-message" controller="Messages" action="Delete">
        <constraints>
          <add key="forum" value="[\w\-]{1,32}" />
          <add key="name" value="[\w-]+?" />
          <add key="id" value="\d+" />
        </constraints>
      </add>
      <add url="{forum}/{name}-{id}/flag-message" controller="Messages" action="Flag">
        <constraints>
          <add key="forum" value="[\w\-]{1,32}" />
          <add key="name" value="[\w-]+?" />
          <add key="id" value="\d+" />
        </constraints>
      </add>
      <add url="{forum}/{name}-{id}/clear-flags" controller="Messages" action="ClearFlags">
        <constraints>
          <add key="forum" value="[\w\-]{1,32}" />
          <add key="name" value="[\w-]+?" />
          <add key="id" value="\d+" />
        </constraints>
      </add>
      <add url="{forum}/{name}-{id}/page-more" controller="Topics" action="PageMore">
        <constraints>
          <add key="forum" value="[\w\-]{1,32}" />
          <add key="name" value="[\w-]+?" />
          <add key="id" value="\d+" />
        </constraints>
      </add>
      <add url="{forum}/{name}-{id}/page-until" controller="Topics" action="PageUntil">
        <constraints>
          <add key="forum" value="[\w\-]{1,32}" />
          <add key="name" value="[\w-]+?" />
          <add key="id" value="\d+" />
        </constraints>
      </add>
      <add url="{forum}/{name}-{id}/{page}" controller="Topics" action="Detail">
        <constraints>
          <add key="forum" value="[\w\-]{1,32}" />
          <add key="name" value="[\w-]+?" />
          <add key="id" value="\d+" />
          <add key="page" value="\d+" />
        </constraints>
        <defaults>
          <add key="page" value="0" />
        </defaults>
      </add>
      <add url="{id}" controller="Topics" action="ShortUrl">
        <constraints>
          <add key="id" value="\d+" />
        </constraints>
      </add>
      <add url="{forum}/{page}" controller="Forums" action="Detail">
        <constraints>
          <add key="forum" value="[\w-]{1,32}" />
          <add key="page" value="\d+" />
        </constraints>
        <defaults>
          <add key="page" value="0" />
        </defaults>
      </add>
      <!-- test non ascii routes -->
      <add url="forum-detail/{forum}/{page}" controller="Forums" action="DetailNotConstrained" lowerCaseOnly="false">
        <constraints>
          <add key="forum" value="[\w\-%]{1,32}" />
          <add key="page" value="\d+" />
        </constraints>
        <defaults>
          <add key="page" value="0" />
        </defaults>
      </add>
    </routes>
  </routeMapping>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logFile" xsi:type="File" fileName="${basedir}/logfile.txt" />
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="logFile">
        <filters>
          <when condition="contains(message,'ExceptionType:ArgumentException') and contains(message,'at System.Web.Mvc.ReflectedActionDescriptor.ExtractParameterFromDictionary')" action="Ignore" />
        </filters>
      </logger>
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>