<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
	<configSections>
		<section name="routeMapping" type="NearForums.Configuration.RouteMappingConfiguration, NearForums" />
		<section name="site" type="NearForums.Configuration.SiteConfiguration, NearForums" />
	</configSections>
	<appSettings>
		<add key="FakeApplicationRoot" value="..\..\..\NearForums.Web.UI\"/>
		<!--<add key="Proxy" value="proxy|3128|aa-jbg|aa-jbg1|spain"/>-->
	</appSettings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.2.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>

	<connectionStrings>
		<add name="ForumsMSSQL" connectionString="Data Source=localhost;Initial Catalog=Forums;User ID=sa;Password=12345678" providerName="System.Data.SqlClient"/>
		<add name="Forums" connectionString="Server=localhost;Database=forums_dbo;Uid=root;Pwd=12345678;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<site timeZoneOffset="-5" dateFormat="F">
		<dataAccess parameterPrefix="param_"/>
		<forums topicsPerPage="10" tagsCloudCount="30" />
		<topics messagesPerPage="10" />
		<template useTemplates="true" path="/content/templates/" />
		<authorizationProviders fakeProvider="true">
			<facebook apiKey="0cbd9e92f46e25941fc93d800ca50f13" secretKey="6a8514f4093423c306d3302ebfbb43ef" />
		</authorizationProviders>
		<replacements>
			<add pattern="&lt;!--.+?--&gt;" replacement="" multiline="true" />
			<add pattern="(&lt;style.+?&lt;/style&gt;)|(&lt;script.+?&lt;/script&gt;)"
				 replacement="" multiline="true" ignoreCase="true" />
			<add pattern="&lt;/?(param|(no)?script|object|i?frame|body|style|font|head|link|title|h1|h2)[^&gt;]*?&gt;"
				 replacement="" multiline="true" ignoreCase="true" />
			<add pattern=" ?style=\&quot;?&apos;?[^&apos;\&quot;&gt;]*\&quot;?&apos;?"
				 replacement="" multiline="true" ignoreCase="true" />
			<add pattern="(?&lt;!&amp;)(#(\d))"
				 replacement="&lt;a href=&quot;#msg$2&quot; class=&quot;fastQuote&quot;&gt;$1&lt;/a&gt;" />
		</replacements>
	</site>
	<routeMapping>
		<routes>
			<add url="" controller="Home" action="Index" />
			<add url="category/{category}/{page}" controller="Categories" action="Detail">
				<defaults>
					<add key="page" value="0" />
				</defaults>
				<constraints>
					<add key="page" value="\d+" />
				</constraints>
			</add>
		</routes>
	</routeMapping>
</configuration>
