@model Topic
@if (this.Model.Related.Count > 0)
{
	<div class="topicsRelated">
		<h2><span>@T("Related threads")</span></h2>
		<ul class="related">
			@foreach (Topic t in this.Model.Related)
			{
				<li class="@(t.IsClosed ? "isClosed" : "")">@Html.ActionLink(t.Title, "Detail", "Topics", new{id=t.Id, name=t.ShortName, forum=t.Forum.ShortName}, null)</li>
			}
		</ul>
	</div>
}