/* Structure of the template and elements default*/
body
{
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ffffff;
	background-image: url(body-bg.png);
	color: #333333;
	margin: 0 0 0 0;
	padding:0;
	font-size: 12px;
	background-repeat: repeat-x;
}
img
{
	border: 0;
	vertical-align: middle;
}
table
{
	border: none;
	padding: 20px 0 20px 0;
}
table td
{
	padding: 2px 10px 2px 2px;
}
table th
{
	padding: 4px 10px 4px 0px;
	font-size: 1.1em;
	text-align: left;
	border-bottom: solid 1px #666666;
}
p
{
	margin-top: 0px;
	margin-bottom: 8px;
	line-height: 15px;
}
ul
{
	margin: 0 0 10px 15px;
	padding: 5px 0 5px 0;
}
li
{
	margin: 0;
	padding: 0 0 4px 0;
}
a
{
	font-weight: normal;
	color: #0372A0;
	text-decoration: underline;
}
a:hover, #content a:hover
{
	text-decoration: underline;
}
h1
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 28px;
	font-weight: normal;
	color: #333333;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}
h2
{
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 10px 0;
	padding: 0;
	color: #222222;
}
h3
{
	font-size: 16px;
	font-weight: bold;
	margin: 3px 0px 0px 0px;
}
h4
{
	font-size: 14px;
	font-weight: bold;
	margin: 4px 0px 12px 13px;
}
form
{
	margin: 0px 0px 0px 0px;
}
textarea
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	border: solid 1px #A3A3A5;
	width: 300px;
	height: 100px;
	overflow: auto;
	padding: 4px;
}
input
{
	vertical-align: middle;
	font-family: Arial;
	margin: 0px;
	padding: 2px;
}
select
{
	vertical-align: middle; 
	font-size: 13px;
}
fieldset
{
	border: none;
	padding: 0px 10px 10px 10px;
	
}
abbr
{
	text-decoration: none;
	border-bottom: none;
}
strong a
{
	font-weight: bold;
}
#container
{
	width: 950px;
	overflow: hidden;
	margin: 0 auto 0 auto;
}
#header
{
	padding-top: 20px;
	height: 104px;
}
#logo
{
	font-family: Myriad Pro, Helvetica, Calibri, Arial;
	font-size: 48px;
	line-height: 48px;
	text-shadow: 0 1px 0 #EFEFEF;
}
#logo a
{
	text-decoration: none;
	font-weight: normal;
	color: #333333;
}
#logo .part2
{
	color: #BD2E00;
}
#footer
{
	border-top: 3px solid #757575;
	background-color: #FAFAFA;
	padding: 10px 0 2px 0;
	width: 950px;
	margin: 0 auto 0 auto;
	color: #666666;
	font-weight: bold;
}
#footer p
{
	text-align: center;
}
#footer a
{
	text-decoration: none;
	font-weight: bold;
	/*color: #f0f0f0;*/
}
#footer a:hover
{
	text-decoration: underline;
}
#userMenu
{
	float: right;
	list-style-type: none;
	padding: 0 0 6px 0;
	margin: 0;
	font-size: 13px;
	height:16px;
	overflow: hidden;
	position: relative;
	top: 75px;
	text-shadow: 0 1px 0 #FFFFFF;
}
#userMenu li
{
	float: left;
	padding: 0 0 0 10px;
	margin: 0 0 0 10px;
	border-left: solid 1px #cccccc;
}
#userMenu li.toContent
{
	border: none;
	margin: 0;
}
#userMenu li a
{
	text-decoration: none;
	color: #222222;
	line-height: 20px;
	font-weight: bold;
}
#userMenu li.login.twitter a img
{
	padding-top: 3px;
}
#userMenu a img
{

}
#userMenu li a:hover
{
	text-decoration: underline;
}
#content
{
	padding: 20px 0 20px 0;
}
#searchBox
{
	float: right;
	clear: both;
	padding: 7px 10px 7px 10px;
	height: 30px;
	margin: 1px 0 0 0;
	background-color: #F9F9F9;
	/*background-color: #555555;*/
	border-radius: 5px 0 0 0;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
}
#searchBox input.text
{
	padding: 4px;
	overflow: hidden;
	line-height: 18px;
	height: 18px;
	border: 1px solid #BBBBBB;
}
#searchBox input.button
{
	padding: 4px;
	line-height: 18px;
	margin: 0;
	border: 1px solid #999999;
}
#searchBox input.button:hover, #searchBox input.button:focus
{
	border: 1px solid #FFFFFF;
}
.submenu
{
	overflow: visible;
	margin: 10px 0;
	border-bottom: 1px solid #C0C0C0;
	height: 27px;
}
.submenu ul
{
	float: left;
	list-style-type: none;
	margin: 0 0 -1px 0;
	padding: 0;
}
.submenu li
{
	background-color: #F9F9F9;
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-radius: 5px 5px 0 0;
	margin: 0 0 0 5px;
	padding: 0;
	float: left;
}
.submenu li a
{
	float: left;
	padding: 7px 10px 0 10px;
	text-decoration: none;
	border-radius: 5px 5px 0 0;
	margin: 0 0 -1px 0;
	height: 20px;
}
.submenu a.active
{
	color: #333333;
	background-color: #FFFFFF;
}
#accountWarning
{
	position: absolute;
	top: 0;
	padding: 8px 10px;
	width: 930px;
	text-align: center;
	background-color: #FDE910;
	line-height: 18px;
}
#accountWarning .buttons
{
	float: right;
}
#accountWarning a
{
	padding-left: 10px;
}