<ul class="path floatContainer">
    <li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
</ul>
<h2>
    Change Password</h2>
<p>
    Your password has been changed successfully.
</p>