@{
	ViewBag.Title = T("Change Password");
}
<ul class="path floatContainer">
    <li class="first">@Html.ActionLinkLocalized("Forums", "List", "Forums")</li>
</ul>
<h1>@ViewBag.Title</h1>
<p>
    @T("Your password has been changed successfully.")
</p>
<p>
	@Html.ActionLinkLocalized("Back to my account >>", "Edit", "Users", new{id=this.User.Id}, null)
</p>
