@{
    ViewBag.Title = "Sign in";
}
<ul class="path floatContainer">
    <li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
</ul>
<div id="login">
	<h1>@ViewBag.Title</h1>
	@Html.Partial("~/Views/FormsAuthentication/LoginForm.cshtml")
</div>
