@{
    ViewBag.Title = "Reset Password"; ;
}
<ul class="path floatContainer">
    <li class="first">@Html.ActionLink("Forums", "List", "Forums")</li>
</ul>
<h2>
    Reset Password</h2>
<p>
   Provide your username.
</p>
@Html.ValidationSummary("Invalid username information.")
@using (Html.BeginForm())
{
    <table>
            <tr>
                <td align="right">
                    <label for="username">
                        Username:</label>
                </td>
                <td>
                    @Html.TextBox("username")
                    @Html.ValidationMessage("username")
                </td>
            </tr>
            <tr align="right">
                <td colspan ="2">
                    <input type="submit" class="button" value="Submit" />
                </td>
            </tr>
    </table>
}
